<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096526612028-vpp9e9rf6fgit2e0ci2mphnujgblehk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096526612028-vpp9e9rf6fgit2e0ci2mphnujgblehk4</string>
	<key>API_KEY</key>
	<string>AIzaSyDm8CVxUxC1_Wastltp39piiPOtSrdCe7g</string>
	<key>GCM_SENDER_ID</key>
	<string>1096526612028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>emilio.SpotifyClone</string>
	<key>PROJECT_ID</key>
	<string>movil-avanzado</string>
	<key>STORAGE_BUCKET</key>
	<string>movil-avanzado.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096526612028:ios:ac05ce0bc9a089f627e539</string>
</dict>
</plist>